/* @import "../global/global.css";



main {
    padding: 2em;
}

.content {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
}

.highlight {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 1em;
    border-radius: 8px;
}

footer {
    background-color: var(--accent-color);
    color: var(--text-color);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
} */
