<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/public/global/global.css">
</head>

<body>
  <header>
      <ul>
        <li><a href="/">home</a></li>
      </ul>

      <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/register">register</a></li>
      </ul>
  </header>
  <main>
  
  </main>

  <script  type="module" src="/public/index/script.js"></script>
  <script type="module" src="/public/global/global.js"></script>
</body>

</html>