<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/public/register/style.css">
  <link rel="stylesheet" href="/public/global/global.css">

</head>

<body class="poppins-regular">
  <header>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>

      <ul>
      <li><a href="/about">About</a></li>

        <% if (metaData) { %>
          <li><a href="/logout"> Logut</a></li>
        <%}else{ %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        <% }%>
      </ul>
  </header>

  
  <main>
    <div class="register-container">
      <form action="">
        <h2>Register Page</h2>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username here">


        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter Your password here">

        <input type="submit" value="Submit" id="submit">
      </form>
    </div>
  </main>


  <script type="module" src="/public/register/script.js"></script>
  <script type="module" src="/public/global/global.js"></script>
</body>

</html>