:root {
    --background-color: #181818;
    --primary-color: #282828;
    --secondary-color: #404040;
    --accent-color: #BB86FC;
    --text-color: #FFFFFF;
    --muted-text-color: #B3B3B3;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.notification-container {
    pointer-events: none;
    padding-left: 10px;
    padding-right: 10px;
    /* width: 15rem; */
    height: 4rem;
    border-radius: 1em;
    opacity: 90%;
    animation: notif 10s ease;
    top: -100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    left: 0;
    right: 0;
    
}

.notif-success {
    background-color: green;
    color: white;
}

.notif-failure {
    color: white;
    background-color: tomato;
}

@keyframes notif {
    0%{
        top: -100px
    }
    10%{
        top: 5px;
    }
    30%{
        opacity: 90%;
        top: 5px;
    }
    100%{
        top: 5px;

        opacity: 0%;
    }
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 5rem;
}

header ul{
    margin: 0px 2em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

header ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0px 0.5em;
}

header ul li a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px 7px;
    border-radius: 2px;
}

/* header ul {
    border-radius: 5px;
    padding: 1em 0;
}
header ul li{
    margin: 0 5px;
    padding: 0 1rem;
    height: 30px;
}
header ul li a{
    color: var(--text-color);
} */