:root {
    --background-color: #181818;
    --primary-color: #282828;
    --secondary-color: #404040;
    --accent-color: #BB86FC;
    --text-color: #FFFFFF;
    --muted-text-color: #B3B3B3;
}

* {
    box-sizing: border-box;
}
